<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>CORK Admin Template - Contact Us Page</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="assets/css/pages/contact_us.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/forms/theme-checkbox-radio.css">
    <!--  END CUSTOM STYLE FILE  -->
</head>
<body class="sidebar-noneoverflow">

    <div class="contact-us">
        <div class="cu-contact-section">                          
           
            <div id="basic_map1"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11171.3294680832!2d-72.05834839005645!3d-45.5738095364249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbdf2c4961b67d9d7%3A0x43ac6e755b99ff3d!2sH%C3%A9ctor%20Monreal%20129%2C%205951235%20Coyhaique%2C%20Ays%C3%A9n!5e0!3m2!1ses-419!2scl!4v1718022662778!5m2!1ses-419!2scl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            <div class="contact-form">
                <form class="">
                    <h4>Envianos un mensaje</h4>
                    <div class="row mb-4">
                        <div class="col-sm-12 col-12 input-fields mb-4 mb-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12 col-12 input-fields">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                            <input type="text" class="form-control" placeholder="Correo Electrónico">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12 col-12 input-fields">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                            <input type="text" class="form-control" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12 col-12">
                            <p class="">Método preferido de comunicacón</p>
                        </div>
                        <div class="col-sm-12 col-12 input-fields">
                            <div class="n-chk">
                                <label class="new-control new-radio radio-primary">
                                  <input type="radio" class="new-control-input" name="custom-radio-1" checked="">
                                  <span class="new-control-indicator"></span>Correo Electrónico
                                </label>
                            </div>
                            <div class="n-chk">
                                <label class="new-control new-radio radio-primary">
                                  <input type="radio" class="new-control-input" name="custom-radio-1" checked="">
                                  <span class="new-control-indicator"></span>Teléfono
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group input-fields">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Escribe tu mensaje"></textarea>...
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-sm-left text-center">
                            <button class="btn btn-primary mt-4">Enviar</button>
                        </div>
                    </div>
                </form>
                
            </div>


        </div>
    </div>

    

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <script src="assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script>
      
    </script>
    
    
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>